/* common css start  */
:root{
    --primary-color: #de4644;
    --secondry-color: #222222;
    --third-color: #ffffff;
    --primary-font:'Raleway', sans-serif;
    --secondry-font:'Open Sans', sans-serif;
   
}
:root.dark{
    --bg:#000000;
    --text-color:#ffffff;
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
.container{
    width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul,li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    font-family: var(--primary-font);
    position: relative;
}
.w-100{
    width: 100%;
}
.d-block{
    display: block;
}
/* common css end  */

/* header section css start  */

    /* preloader section css start  */
        #preloader{
            position: fixed;
            background: #0079d7;
            inset: 0;
            z-index: 999;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            /* min-height: 100vh; */
        }
        #preloader .container{
            position: relative;
            display: flex;
            width: 100%;
            justify-content: center;

        }
        #preloader .container .wrapper{
            position: absolute;
            top: -35px;
            transform: scale(1.5);
        }
        #preloader .container .wrapper .loader{
            width: 1px;
            height: 25px;
            position: absolute;
            animation-name: rotate;
            animation-duration: 3.5s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
        #preloader .container .wrapper .loader .dot{
            top: 30px;
            position: relative;
            width: 7px;
            height: 7px;
            background: #ffffff;
            border-radius: 50%;
        }
        #preloader .container .text{
            position: absolute;
            bottom: -85px;
            font-size: 25px;
            color: #ffffff;
            font-family: var(--primary-font);
            font-weight: 400;
        }
        @keyframes rotate{
            30%{
                transform: rotate(220deg);
            }
            40%{
                transform: rotate(450deg);
                opacity: 1;
            }
            75%{
                transform: rotate(720deg);
                opacity: 1;
            }
            76%{
                opacity: 0;
            }
            100%{
                transform: rotate(0deg);
                opacity: 0 ;
            }
        }
        #preloader .loader:nth-child(1){
            animation-delay: 0.15s;
        }
        #preloader .loader:nth-child(2){
            animation-delay: 0.3s;
        }
        #preloader .loader:nth-child(3){
            animation-delay: 0.45s;
        }
        #preloader .loader:nth-child(4){
            animation-delay: 0.6s;
        }
        #preloader .loader:nth-child(5){
            animation-delay: 0.75s;
        }
        #preloader .loader:nth-child(6){
            animation-delay: 0.9s;
        }
    /* preloader section css end  */

header{
    background:#444444;
    font-family: var(--secondry-font);
}
    header .row{
        justify-content: space-between;
    }
    header p{
        display: inline-block;
        font-size: 13px;
        border-right: 2px solid #dddddd;
        padding:20px 20px 20px 20px;
        color: var(--third-color);
        font-family: var(--secondry-font);
    }
    header a{
        display:inline-block;
        font-size: 13px;
        color: var(--third-color);
        border-right: 2px solid #dddddd;
        padding:20px 20px 20px 20px;
        transition: .5s;
    }
    header a:last-child{
        border-right:none ;
    }
    header a:hover{
        color: var(--primary-color);
    }
    header button{
        /* display: block; */
        font-size: 13px;
        color: var(--third-color);
        border-right: 2px solid #dddddd;
        padding:20px 20px 20px 20px;
        background: #444444;
        border: none;
        transition: .5s;
    }
    header button:hover{
        color: var(--primary-color);
    }

/* header section css end  */

/* navigation section css start  */
#navigation{
    padding: 36px 0;
    position: relative;
}
#navigation .row{
    justify-content: space-between;
    align-items: center;
}
#navigation ul li a{
    display: inline-block;
    color: var(--secondry-color);
    font-size: 16px;
    font-family: var(--primary-font);
    font-weight: 500;
    padding: 11px 11px;
    position: relative;
    transition: .7s;
}
#navigation ul li a:hover{
    color: var(--primary-color);
}
#navigation ul li a::after{
    content: '';
    position: absolute;
    background: var(--primary-color);
    width: 0;
    height: 1px;
    bottom: 0;
    right: 0;
    transition: .7s;
 
}
#navigation ul li a::before{
    content: '';
    position: absolute;
    background: var(--primary-color);
    width: 0;
    height: 1px;
    bottom: -3px;
    right: 0;
    transition: .7s;
 
}
#navigation ul li:hover a::after,
#navigation ul li:hover a::before{
    width: 100%;
    left: 0;
}
#navigation .search_icon > span{
    font-size: 20px;
    font-family:var(--primary-font);
    font-weight: 500;
    color: var(--secondry-color);
    margin-right: 38px;
    transition: .5s;
    cursor: pointer;
}
#navigation .search_icon a{
display: inline-block;
margin-left: 5px;
font-family: var(--primary-font);
font-weight: 500;
color: var(--secondry-color);
transition: .7s;

}
#navigation .search_icon span:hover,
#navigation .search_icon a:hover{
    color: var(--primary-color);
} 
#navigation .search_icon{
    position: relative;
}
#navigation .search_icon .search-box{
    transform: scale(0);
}

#navigation .search_icon .search-box input{
    position: absolute;
    top: -3px;
    right: 210px;
    padding:6px 20px;
    text-align: center;
    color: #000000;
    border-color: var(--secondry-color);   
}
#navigation .search_icon .search-box.show{
    transform: scale(1);
    transition: .7s;
}

#mode_changer{
    margin-left: 15px;
}
/* navigation section css end  */

/* banner section css start  */
    #banner{
        height: 600px;
        background-image: url(../images/banner_bg.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 1;
        margin-top: 30px;
    }
    #banner h1{
        font-size: 70px;
        font-weight: 800;
        color: var(--primary-color);
        padding-top: 112px;
    }
    #banner h3{
        font-size: 40px;
        color: var(--third-color);
        margin-bottom: 30px;
    }
    #banner p{
        width: 462px;
        font-size: 14px;
        font-family: var(--secondry-font);
        color: var(--third-color);
        margin-bottom: 60px;
    }
    #banner a{
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        color: var(--third-color);
        border: 1px solid var(--third-color);
        margin-left: 10px;
        padding: 20px;
        margin-right: 30px;
        border-radius: 5px;
        transition: .5s;
    }
    #banner a:hover{
        background-color: var(--primary-color);
    }
    #banner .icon span:first-child{
        font-size: 24px;
        color: var(--third-color);
        position: absolute;
        bottom: 28px;
        left: 50%;
        border: 1px solid var(--third-color);
        padding: 8px 12px;
        transition: .5s;
    }
    #banner .icon span:last-child{
        font-size: 24px;
        color: var(--third-color);
        position: absolute;
        bottom: 28px;
        right: 50%;
        margin-right: 10px;
        border: 1px solid var(--third-color);
        padding: 8px 12px;
        transition: .5s;
    }
    #banner .icon span:hover{
        background: var(--primary-color);
        border: 1px solid var(--primary-color);
    }
    #banner::after{
     content: '';
     position: absolute;
     z-index: -1;
     inset: 0;
     background-color: #000000;
     opacity: 0.6;
    }
/* banner section css end  */

/* information section css start  */
#information{
    background: #f1f1f1;
}
    #information ._item{
        width: calc(100% / 3 - 30px);
        margin: 15px 15px;
        border-right: 1px solid #dddddd;
        text-align: center;
        padding-right: 20px;
    }
    #information ._item:last-child{
        border-right: none;
    }
    #information ._item .item_heading h4{
        display:inline-block;
        font-size: 24px;
        color: var(--secondry-color);
        margin-bottom: 30px;
        transition: .5s;
    }
    #information ._item .item_heading :hover{
        color: var(--primary-color);
    }
    #information ._item  .item_info p{
        font-size: 14px;
        font-family: var(--secondry-font);
        color: #444444;
    }
/* information section css end  */

/* images section start  */
    #images{
        padding: 100px;
    }
    #images .image_item{
        width: calc(100% / 3 - 30px);
        margin: 15px;
        position: relative;
    }
    #images .image_item P{
        position: absolute;
        top: 54px;
        left: 10px;
        font-weight: 500;
        color: var(--primary-color);
        background-color: var(--third-color);
        display:inline-block;
        transform: rotate(-44deg);
        text-align: center;
    }
    #images .image_item .overlay{
        background: #000000;
        opacity: 80%;
        text-align: center;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
       
    }
    #images .image_item .overlay h2{
        font-size: 36px;
        font-weight: 500;
        color: var(--third-color);
    }
    #images .image_item .overlay h3{
        font-size: 24px;
        font-weight: 500;
        color: var(--third-color);
        margin-bottom: 20px;
    }
    #images .image_item .overlay a{
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        color: var(--third-color);
        background: none;
        border: 1px solid var(--third-color);
        padding: 15px 20px;
        margin-bottom: 10px;
        border-radius: 10px;
        transition: .5s;
    }
    #images .image_item .overlay a:hover{
        background-color: var(--primary-color);
    }
/* images section end  */

/* Featured Products section css start  */
    #fp{
        padding-bottom: 100px;
    }
    #fp .heading h2{
        font-size: 40px;
        font-weight: 500;
        color: var(--secondry-color);
        text-align: center;
        margin-bottom: 60px;
    }
    #fp .menu .row{
        justify-content: center;
    }
    #fp .menu ul li a{
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        color: #444444;
        border-right: 1px solid #444444;
        padding:0 23px;
        transition: .5s;
    }
    /* #fp .menu ul li a:last-child{
        border-right: none;
    } */
    #fp .menu ul li a:hover{
        color: var(--primary-color);
    }
    #fp .fp_image_item{
        width: calc(100% / 4 - 40px);
        margin: 20px;
        overflow: hidden;
    }
    #fp .fp_image_item .image{
        position: relative;
    }
    #fp .fp_image_item .image .overlay{
        background: #000000;
        opacity: 80%;
        position: absolute;
        width: 100px;
        height: 100%;
        text-align: center;
        bottom: 0;
        right:0 ;
        padding-top: 64px;
        transform: translateX(100px);
        transition: .5s;
    }
    #fp .fp_image_item .image:hover .overlay{
        transform:translateX(0);
    }
    #fp .fp_image_item .image .overlay span{
        display: inline-block;
        text-align: center;
        font-size: 26px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        border: 1px solid var(--third-color);
        color: var(--third-color);
        background: none;
        border-radius: 50%;
        margin-bottom: 30px;
        transition: .5s;
    }
    #fp .fp_image_item .image .overlay span:hover{
        background-color: var(--primary-color);
    }
    #fp .fp_image_item .row{
        justify-content: space-between;
    }
    #fp .fp_image_item .product_name p{
        font-size: 16px;
        font-weight: 500;
        color: var(--secondry-color);
        padding: 10px 0;
    }
    #fp .fp_image_item .product_name span{
        font-size: 16px;
        color: var(--primary-color);
    }
    #fp .fp_image_item .price p{
        font-size: 16px;
        font-weight: 500;
        color: var(--secondry-color);
        padding: 10px 0;
    }

/* Featured Products section css end  */

/* microsoft section css start  */
    #microsoft{
        background: #f2f2f2;
        padding-bottom: 57px;
    }
    #microsoft .microsoft-img{
        width: 40%;
        padding-top: 45px;
    }
    #microsoft .microsoft-text{
        width: 60%;
        padding-left: 20px;
    }
    #microsoft .microsoft-text h3{
        font-size: 20px;
        font-weight: 500;
        color: var(--secondry-color);
    }
    #microsoft .microsoft-text h2{
        font-size: 40px;
        font-weight: 500;
        color: var(--primary-color);
        margin-bottom: 18px;
    }
    #microsoft .microsoft-text p{
        font-size: 14px;
        font-family: var(--secondry-font);
        color: #444444;
    }
    #microsoft .microsoft-text h4{
        font-size: 20px;
        font-weight: 500;
        color: var(--secondry-color);
        margin: 23px 0;
    }
    #microsoft .microsoft-text .time h3{
        font-size: 20px;
        font-weight: 500;
        color: #444444;
        border: 1px solid #363636;
        margin-right: 30px;
        width: 78px;
        height: 78px;
        text-align: center;
        line-height: 35px;
    }

/* microsoft section css end  */

/* Letest Products section css start */
    #lp{
        padding:100px 0;
        position: relative;
    }
    #lp .heading h2{
        font-size: 40px;
        font-weight: 500;
        color: var(--secondry-color);
        text-align: center;
        margin-bottom: 60px;
    }
    #lp .lp_image_item{
        width: calc(100% / 4 - 40px);
        margin: 20px;
        overflow: hidden;
    }
    #lp .lp_image_item .image{
        position: relative;
    }
    #lp .lp_image_item .image .overlay{
        background: #000000;
        opacity: 80%;
        position: absolute;
        width: 100px;
        height: 100%;
        text-align: center;
        bottom: 0;
        right:0 ;
        padding-top: 64px;
        transform: translateX(100px);
        transition: .5s;
    }
    #lp .lp_image_item .image:hover .overlay{
        transform: translateX(0);
    }
    #lp .lp_image_item .image .overlay span{
        display: inline-block;
        text-align: center;
        font-size: 26px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        border: 1px solid var(--third-color);
        color: var(--third-color);
        background: none;
        border-radius: 50%;
        margin-bottom: 30px;
        transition: .5s;
    }
    #lp .lp_image_item .image .overlay span:hover{
        background-color: var(--primary-color);
    }
    #lp .lp_image_item .row{
        justify-content: space-between;
    }
    #lp .lp_image_item .product_name p{
        font-size: 16px;
        font-weight: 500;
        color: var(--secondry-color);
        padding: 10px 0;
    }
    #lp .lp_image_item .product_name span{
        font-size: 16px;
        color: var(--primary-color);
    }
    #lp .lp_image_item .price p{
        font-size: 16px;
        font-weight: 500;
        color: var(--secondry-color);
        padding: 10px 0;
    }
    #lp .icon span:first-child{
        font-size: 24px;
        color: var(--secondry-color);
        position: absolute;
        bottom: 45px;
        left: 50%;
        border: 1px solid var(--secondry-color);
        padding: 10px 15px;
        transition: .5s;
    }
    #lp .icon span:last-child{
        font-size: 24px;
        color: var(--secondry-color);
        position: absolute;
        bottom: 45px;
        right: 50%;
        margin-right: 10px;
        border: 1px solid var(--secondry-color);
        padding: 10px 15px;
        transition: .5s;
    }
    #lp .icon span:hover{
        background: var(--primary-color);
        color: var(--third-color);
        border: 1px solid var(--primary-color);
    }
/* Letest Products section css end */

/* testimonial section css start  */
    #testimonial{
        height: 400px;
        background-image: url(../images/testimonial_bg.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 1;
    }
    #testimonial .heading h2{
        font-size: 40px;
        font-weight: 500;
        color: var(--secondry-color);
        text-align: center;
        /* margin-bottom: 60px; */
    }
    #testimonial .testimonial_item{
        width: calc(100% / 2);
        padding-top: 58px;
    }
   
    #testimonial::after{
        content: '';
        position: absolute;
        z-index: -1;
        inset: 0;
        background-color: #000000;
        opacity: 0.8;
       }
       #testimonial .testimonial_item .testimonial_info{
        padding-left: 30px;
       }
       #testimonial .testimonial_item .testimonial_info h3{
        font-size: 20px;
        font-weight: 500;
        color: var(--third-color);
       }
       #testimonial .testimonial_item .testimonial_info small{
        font-size: 16px;
        font-weight: 500;
        color: var(--third-color);
        margin-bottom: 32px;
        display: inline-block;
       }
       #testimonial .testimonial_item .testimonial_info p{
        font-size: 14px;
        font-family: var(--secondry-font);
        color: var(--third-color);
        width: 385px;
       }
       #testimonial .testimonial_item .testimonial_info .signature{
        font-size: 24px;
        text-align: right;
        margin-top: 33px;
       }
       #testimonial .icon span:first-child{
        font-size: 24px;
        color: var(--third-color);
        position: absolute;
        bottom: 15px;
        left: 50%;
        border: 1px solid var(--third-color);
        padding: 10px 15px;
        transition: .5s;
    }
    #testimonial .icon span:last-child{
        font-size: 24px;
        color: var(--third-color);
        position: absolute;
        bottom: 15px;
        right: 50%;
        margin-right: 10px;
        border: 1px solid var(--third-color);
        padding: 10px 15px;
        transition: .5s;
    }
    #testimonial .icon span:hover{
        background: var(--primary-color);
        border: 1px solid var(--primary-color);
    }
/* testimonial section css end  */

/* blog section css start  */
#blog{
    padding: 100px 0;
}
#blog .heading h2{
    font-size: 40px;
    font-weight: 500;
    color: var(--secondry-color);
    text-align: center;
    padding-bottom: 60px;
}
#blog .blog_item{
    width: calc(100% / 3 - 30px);
    margin: 15px;
}
#blog .blog_item .blog_info h3{
    font-size: 20px;
    font-weight: 500;
    color: var(--secondry-color);
    padding: 30px 0;
}
#blog .blog_item .blog_info p{
    font-size: 14px;
    font-family: var(--secondry-font);
    color: #444444;
}
#blog .blog_item .blog_info a{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: var(--secondry-color);
    margin-top:30px ;
    transition: .5s;
}
#blog .blog_item .blog_info a:hover{
    color: var(--primary-color);
}
#blog .blog_item .blog_img span{
    font-size: 14px;
    font-family: var(--secondry-font);
    color: var(--third-color);
}
#blog .blog_item .blog_img{
    position: relative;
    overflow: hidden;
}
#blog .blog_item .blog_img .overlay{
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: space-between;
    inset: 0;
    background-color: rgba(0, 0, 0.5, 0.6);
    transform: translateY(292px);
    transition: .5s;
}
#blog .blog_item .blog_img:hover > .overlay{
    transform: translateY(0);
}
#blog .blog_item .blog_img .overlay .date{
    padding:10px 0 0 20px;
    /* z-index: 1; */
}
#blog .blog_item .blog_img .overlay .like_comment{
    justify-content: space-between;
    padding: 0 20px 10px 20px;
}
/* blog section css end 


/* contact section css start  */
   #contact{
    background: #353535;
    padding: 60px 0;
   }
   #contact .contact_logo{
    width: 25%;
   }
   #contact .contact_us{
    width: 25%;
   }
   #contact .my_account{
    width: 15%;
   }
   #contact .newslatter{
    width: 35%;
   }
   #contact .contact_heading h3{
       font-size: 16px;
       font-weight: 500;
       color: var(--third-color);
    }
    #contact .contact_heading{
       justify-content: space-between;
    }
   #contact .contact_logo_info{
    width: 25%;
   }
   #contact .contact_us_info{
    width: 25%;
   }
   #contact .my_account_info{
    width: 15%;
    margin-top: 30px;
   }
   #contact .newslatter_info{
    width: 35%;
   }
   #contact .contact_heading_info{
    justify-content: space-between;
 }
 #contact .contact_logo_info p{
    font-size: 14px;
    font-family: var(--secondry-font);
    color: var(--third-color);
 }
 #contact .contact_logo_info p:first-child{
    padding: 30px 0;
 }

 #contact .contact_us_info span{
    font-size: 14px;
    color: var(--third-color);
    padding-right: 26px;
 }
 #contact .contact_us_info p,
 #contact .contact_us_info a{
    display: inline-block;
    font-size: 14px;
    color: var(--third-color);
    font-family: var(--secondry-font);
    margin-top: 30px;
}

#contact .my_account_info a{
    display:block;
    color: var(--third-color);
    font-size: 14px;
    font-family: var(--secondry-font);
    margin-bottom: 15px;
    transition: .5s;
}
#contact .my_account_info a:hover{
    color: var(--primary-color);
    padding-left: 10px;
}

#contact .newslatter_info input{
    padding:  9px 2px 9px 55px;
    background: none;
    color: var(--third-color);
    border-radius: 5px 0 0 5px;
    font-style: italic;
}
#contact .newslatter_info button{
    padding: 10px 20px;
    background-color: var(--primary-color);
    border: none;
    color: var(--third-color);
    font-size: 16px;
    font-weight: 500;
    border-radius: 0 5px 5px 0;
}
#contact .newslatter_info h3{
    font-size: 16px;
    font-weight: 500;
    color: var(--third-color);
    margin: 30px 0;
}
#contact .newslatter_info a{
    display: inline-block;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: var(--secondry-color);
    margin-right: 30px;
    border-radius: 50%;
    background-color: var(--third-color);
    transition: .5s;
}
#contact .newslatter_info a:hover{
    background-color: var(--primary-color);
    color: var(--third-color);
}

/* contact section css end  */

/* footer section css start  */
    footer{
        background: #555555;
        height: 55px;
        text-align: center;
        padding-top: 20px;
    }
    footer p{
        display: inline-block;
        font-size: 14px;
        color: var(--third-color);
        font-family: var(--secondry-font);
    }
    footer strong{
        font-size: 14px;
        font-family: var(--secondry-font);
        color: var(--primary-color);
    }
/* footer section css end  */

/* backtoTop button start */
    #backtoTop{
        font-size: 25px;
        position: fixed;
        right: 30px;
        bottom: 40px;
        border: none;
        border-radius: 50%;
        padding: 10px 15px;
        background: var(--secondry-color);
        color: var(--third-color);
        cursor: pointer;
        display: none;
        z-index: 999;
        
    }
/* backtoTop button end */